# Python cache
__pycache__/
admin/__pycache__/
admin/utils/__pycache__/
user/__pycache__/
user/components/__pycache__/
user/models/__pycache__/
user/services/__pycache__/
utils/__pycache__/

# Virtual environment
venv/

# Logs - only ignore these specific files
data/logs/activity_logs.json
data/logs/activity_metadata.json
data/logs/activity.log

# Keep all other files in data/
!data/
!data/**
!data/logs/
!data/export/
!data/uploads/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
