# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Flet specific cache (if any)
*.flet/

data/
.data/